a{
  text-decoration: none;
  cursor: pointer;
}
.admin {
  display: flex;
  align-items: center;
}
.img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.text p {
  margin-bottom: 1px;
  margin-right: 10px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  border-style: none;
  background-color: white;
}
.search {
  position: relative;
  padding: 0px 10px 0px 200px;
  background-color: white;
  border-radius: 25px;
}
.search i {
  position: absolute;
  left: 10px;
  top: 5px;
  color: #7777;
}
input {
  width: 100%;
  background-color: white;
  border-style: none;
  outline: none;
  padding-top: 5px;
}
input::placeholder {
  position: absolute;
  right: 0;
  text-align: right;
}
.image {
  position: relative;
}
.image svg {
  position: absolute;
  height: 157px;
  width: 80px;
  top: -70px;
  right: 100px;
  z-index: 1;
}
.nav {
  margin-bottom: 100px;
}
.card {
  display: flex;
  text-align: center;
  align-items: center;
  width: 156px;
  height: 125px;
  color: #8c8c8cee;
  border-radius: 4px;
  font-size:large ;
  border: 1px solid#8C8C8C;
  background-color: #FBFBFB;
}

.card svg {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  color: #8C8C8C;

background-color:#e2e2e2 ;
  font-size: large;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text p{
    line-height: normal;
    font-size: x-large;
    color: gray;
}
.btnt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnn{
  background-color:#33835C !important;
  color: white !important;
}
.btnnn{
  border: 1px solid#8C8C8C !important;
}